    <h1>Welcome to <%= name %> <%= version %></h1>
    <% if (version.indexOf("Nightly-") == 0) { %>
    <div style="background-color: #ffff00; color: #000000; border-color: #ff7f00; border-width: 5px; border-style: solid; padding: 5px; display: inline-block;">
      <b style="font-size: 26px">WARNING!</b><br />
      This version is only for test purposes and may be unstable.
    </div>
    <br />
    <% } %>
    <br />
    <img src="/logo.png" style="width: 400px; max-width: 100%;" />
    <br />
    <p>If you see this page that means that the server is working properly. You can further configure the server and replace <i>index.html</i> and <i>tests.html</i> pages with custom ones.</p>
    <p>Default <i>config.json</i> looks like this:</p>
    <code style="padding: 5px; text-align: left; display: block; display: inline-block;">
      <pre style="margin: 0.2em; white-space: pre-wrap; overflow-wrap: break-word; word-wrap: break-word; word-break: break-all; word-break: break-word; -webkit-box-shadow: none;  -moz-box-shadow: none; box-shadow: none;">{
  "users": [],
  "port": 80,
  "pubport": 80,
  "page404": "404.html",
  "timestamp": 1709477722479,
  "blacklist": [],
  "nonStandardCodes": [],
  "enableCompression": true,
  "customHeaders": {},
  "enableHTTP2": false,
  "enableLogging": true,
  "enableDirectoryListing": true,
  "enableDirectoryListingWithDefaultHead": false,
  "serverAdministratorEmail": "[no contact information]",
  "stackHidden": false,
  "enableRemoteLogBrowsing": false,
  "exposeServerVersion": true,
  "disableServerSideScriptExpose": true,
  "rewriteMap": [
    {
      "definingRegex": "/^\\/serverSideScript\\.js(?:$|[#?])/",
      "replacements": [
        {
          "regex": "/^\\/serverSideScript\\.js($|[#?])/",
          "replacement": "/NONEXISTENT_PAGE$1"
        }
      ]
    },
    {
      "definingRegex": "/^\\/testdir_rewritten(?:$|[\\/?#])/",
      "replacements": [
        {
          "regex": "/^\\/testdir_rewritten($|[\\/?#])/",
          "replacement": "/testdir$1"
        }
      ]
    }
  ],
  "allowStatus": true,
  "dontCompress": [
    "/.*\\.ipxe$/",
    "/.*\\.(?:jpe?g|png|bmp|tiff|jfif|gif|webp)$/",
    "/.*\\.(?:[id]mg|iso|flp)$/",
    "/.*\\.(?:zip|rar|bz2|[gb7x]z|lzma|tar)$/",
    "/.*\\.(?:mp[34]|mov|wm[av]|avi|webm|og[gv]|mk[va])$/"
  ],
  "enableIPSpoofing": false,
  "secure": false,
  "sni": {},
  "disableNonEncryptedServer": false,
  "disableToHTTPSRedirect": false,
  "enableETag": true,
  "disableUnusedWorkerTermination": false,
  "rewriteDirtyURLs": true,
  "errorPages": [],
  "useWebRootServerSideScript": true,
  "exposeModsInErrorPages": true,
  "disableTrailingSlashRedirects": false,
  "environmentVariables": {},
  "allowDoubleSlashes": false,
  "optOutOfStatisticsServer": false
}</pre>
    </code>
    <p>Changes:</p>
    <ul style="display: inline-block; margin: 0;">
      <% changes.forEach((change) => {%>
        <li><%= change %></li>
      <% }); %>
    </ul>
    <p>
      <a href="/tests.html">Tests</a><br />
      <a href="/licenses/">Licenses</a><br />
      <a href="/svrjsstatus.svr"><%= name %> status page</a><br />
      <a href="<%= documentationURL %>"><%= name %> documentation</a>
    </p>
    <img src="/powered.png" />
  </body>
