      <div class="license-card">
        <div class="license-type">License: <%= license ? license : "Unknown" %></div>
        <div class="license-name">
          <b><%= moduleName %></b><% if (author) { %> (by <%= author %>)<% } %>
        </div>
        <div class="license-description">
          <%= description %><% if (required) { %><br/>
          <b>Required by <%= name %>.</b><% } %>
        </div>
      </div>
